@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-wide base styles */
:root {
  color-scheme: light;
  background-color: #ffffff; /* tp-bg fallback */
}

body {
  @apply bg-tp-bg text-white min-h-screen font-sans antialiased;
  margin: 0;
}

/* Reusable card style */
.tp-card {
  @apply bg-tp-card rounded-2xl border border-tp-border shadow-tp-card;
}

/* Buttons */
.tp-btn-primary {
  @apply inline-flex items-center justify-center rounded-xl px-4 py-2 font-medium
         bg-tp-accent text-white hover:brightness-125 active:brightness-90
         transition-all duration-150;
}

.tp-btn-outline {
  @apply inline-flex items-center justify-center rounded-xl px-4 py-2 font-medium
         border border-tp-border text-black hover:bg-tp-card hover:text-black
         transition-all duration-150;
}

.tp-btn-white {
    @apply inline-flex items-center justify-center rounded-xl px-4 py-2 font-medium
           bg-white text-black border border-white/0
           hover:bg-white hover:brightness-90 active:brightness-75
           transition-all duration-150 text-sm;
}

/* Form inputs */
.tp-input {
  @apply w-full rounded-xl bg-tp-card/60 border border-tp-border px-4 py-3
         text-black placeholder-tp-text-dim outline-none
         focus:ring-2 focus:ring-tp-accent focus:border-transparent
         transition duration-150;
}

.tp-search-bar {
  @apply w-64 h-10 rounded-xl border border-white bg-tp-accent/50  px-4 py-3
         text-white placeholder-tp-text-dim outline-none hover:brightness-125 active:brightness-125 
         transition duration-150;
}


.tp-label {
  @apply text-sm font-medium text-black flex items-center gap-2 mb-1;
}

.tp-error {
  @apply text-xs text-red-400 mt-1;
}

.tp-btn-lock-locked {
  @apply inline-flex items-center justify-center rounded-xl px-4 py-2 font-medium
         border border-tp-accent bg-tp-accent text-white hover:brightness-125 active:brightness-90
         transition-all duration-150;
}

.tp-btn-white-outlined {
  @apply inline-flex items-center justify-center rounded-xl px-4 py-2 font-medium bg-white text-black
         border border-tp-border text-black hover:bg-white hover:brightness-90 active:brightness-75
         transition-all duration-150;
}