/*:root { --main-color : #a1a1ff; } /*#c5ffc5*/
/* UL that contains menu items */
#NavBar {
  height: 100vh;
  background-color: var(--main-color);
  box-shadow: 0px 5px 10px;
}
#NavBar li {
    height: 4em; margin-left: 20px;
    font-size: 1.2em;
    align-content: center;
    display: flex; flex-direction: row;
}
#NavBar li > * {
    align-self: center;
}
#NavBar li:hover {
    background-color: var(--secondary-color); color: var(--main-color); border-bottom: 2px solid goldenrod;
    transition-duration: 1s;
}